main {
	padding: 30px;
	font-size: 0;
	width: 800px;
	margin: auto;
}

.container {
	display: inline-block;
	width: 50%;
	height: 200px;
	font-size: 0px;
	border: 1px solid black;
}
.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey;
	height: 300px;
	width: 33.3%;
}

.black {
	background-color: black;
	height: 300px;
	width: 33.3%;
}

.orange {
	background-color: orange;
	height: 300px;
	width: 33.3%;
}