
body {
	padding-right: 60px;
	padding-left: 60px;
	background: url(../images/outerspace_landscape.jpeg) no-repeat;
	background-size: cover;
}

nav {
	position: relative;
	border: 1px solid black;
	text-align: right;
	height: 70px;
	width: auto;
	background-color: gray;
}

nav a:hover {
	color: black;
}

#logo {
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50px;
	height: 60px;
	width: 60px;
	position: absolute;
	left: 50px;
	border: solid black 2px;
	vertical-align: middle;

}

ul {
	position: absolute;
	left: 150px;
	top: 5px;
}

li {
	display: inline;
	list-style-type: none
}

#green_dotted {
  border: 10px green dotted;
  width: 600px;
  height: 300px;
  top: 150px;
  left: 250px;
  position: relative;

}

#cat {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 175px;
	right: 500px;
}

#dog {
	width: 200px;
	height: 200px;
	left: 500px;
	top: 175px;
	position: absolute;
}